@tailwind base;
@tailwind components;
@tailwind utilities;

/* .auth-email-input {
    @apply appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm
}

.auth-password-input {
    @apply appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm
}

.auth-submit-button {
    @apply group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white hover:bg-green-600 focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-green-600
}

.site-nav {
    @apply block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 rounded-lg hover:bg-gray-400 focus:text-gray-900 focus:bg-gray-200 border-none focus:outline-none 
}

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #13B255;
}

.toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #13B255;
} */